/************************************************
Table of Contents:

01. GENERAL
02. LINK
03. TEXT
04. HEADER
05. NAVIGATION
06. POSTS & CONTENT
07. IMAGE GALLERY
08. PAGINATION
09. COMMENT
10. COMMENT FORM
11. SIDEBARS & ASIDES
12. FOOTER
13. FOUNDATION
14. PLUGIN HELPERS
15. REVEAL MODALS

*************************************************/

/*********************
01. GENERAL
*********************/
section{
	position: relative;
}
.no-js {
	.no-ic {
		display: none;
		visibility: hidden;
	}
}

/*********************
02. LINK
*********************/
a, a:visited {
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
03. TEXT
*********************/

/*********************
04. HEADER
*********************/
.top-bar {
	width: 100%;
}

.header {
	.sticky {
		position: relative;
		z-index: 1;
		&.is-stuck {
			position: fixed;
			transition: 0.5s;
			&.adminsticky {
				transform: translate(0, 45px);
			}
		}
	}
	ul.off-canvas-list li {
		list-style: none;
	}
}
@include breakpoint(783px) {
	.header {
		.sticky {
			&.is-stuck {
				&.adminsticky {
					transform: translate(0, 32px);
				}
			}
		}
	}
}

/*********************
05. NAVIGATION
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
	ul {
		background-color: unset;
	}
	.submenu {
		background-color: $topbar-submenu-background;
	}
}

.submenu {
	@extend .menu;
	@extend .nested;
}

.menu {
	font-family: $roboto_bold;
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

.rufio-alt-nav {
	#navmenu {
		display: none;
	}
	.no-js {
		.mainnav:hover #navmenu {
			display: block;
		}
	}
}

/*********************
06. POSTS & CONTENT
*********************/

.vert-align{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.button {
	font-family: $roboto_bold;
}

.entry-content {
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}
	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

/*********************
07. IMAGE GALLERY
*********************/

/*********************
08. PAGINATION
*********************/
.pagination {
	li {
		line-height: 1;
	}
}

/*********************
09. COMMENT
*********************/

/*********************
10. COMMENT FORM
*********************/

/*********************
11. SIDEBARS & ASIDES
*********************/
.sidebar {
}
#searchsubmit {
}
.widgettitle {
}
.widget {
	ul {
		margin: 0;

		li {
			list-style: none;
			&:first-child {}
			&:last-child {}
			a {}
			ul {}
		}
	}
}
/*********************
12. FOOTER
*********************/
.footer {
	clear: both;
}

/*********************
13. FOUNDATION
*********************/

/*********************
14. PLUGIN HELPERS
*********************/
// Gravity Forms + Foundation Abide
.gform_wrapper {
	.validation_error {
		@extend .alert;
		@extend .callout;
		@extend .small;
	}
	.validation_message {
		@extend .form-error;
		@extend .is-visible;
		margin: 0;
	}
	.gfield_error {
		label {
			@extend .is-invalid-label;
		}
		input {
			@extend .is-invalid-input;
		}
	}
	input, select, textarea {
		margin: 0;
	}
}
.gform_body {
	ul {
		list-style: none outside none;
		margin: 0;
	}
}


/*********************
15. REVEAL MODALS
*********************/
.reveal {
	height: auto;
	min-height: auto;
	top: 25%;
	&.gallery {
		background-color: transparent;
		border: none;
	}
	.close-button {
		top: 1rem;
		bottom: auto;
		right: 1rem;
		left: auto;
		color: black;
		text-shadow: 0 0 2px white;
		font-weight: 600;
	}
}
.orbit-container {height: auto !important;}
.orbit-slide {max-height: none !important;}
